.active-category{
  color: aquamarine;
}
.card-body ul .active{
  color: aquamarine;
  }

.images{
    padding-top: 75px; margin-top: 75px;
max-width: 100%;
margin-top: 100px;
 
    height: 100%;

}
.images .card-image {
padding: 30px;

border-radius: 15px !important;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background: rgba(10, 11, 15, 0.9);

  }

.p-under-category{
  text-align: center;
}
.images .card-body{
    display: flex;  
    gap: 30px;
    
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
}
.images .card-body >*{
    color: white;
}

.images .card-body .category{
  display: flex;
 /* row-gap: 40px;  */
 column-gap: 40px;
align-items: center;
  /* max-width: 100%; */

  flex-wrap: wrap;
}
.category h3:hover{
  color: aquamarine !important;
}
.category h3{
  cursor: pointer;
  font-family: "DM Sans", sans-serif;

  font-style: normal;
  
  letter-spacing: 1.5px;
  font-weight: 700;
}
.category :checked label{
  color: aquamarine !important;
}
@media (max-width:991px) {
  .images .card-body{
    display: flex;  
    gap: 30px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
}
.images .card-body .category{
  display: flex;
font-size:14px;
 column-gap: 10px;
 align-items: center;
text-align: center;

  flex-wrap: wrap;
}
.images .card-body .category>*{

font-size:12px;




}
}

@media (max-width:480px) {
  .images .card-body .category{
    display: flex;
  font-size:14px;
   column-gap: 10px;
   align-items: center;
  text-align: center;
  justify-content: center;
    flex-wrap: wrap;
  }
  
}

.category .active{
  color: aquamarine !important;
}




.yassine-images{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 
  flex-wrap: wrap;
}