



.AddVideoAdmin-Main .imgColAdmin {
  
    justify-items:center;
    max-width: 100%;
  
    display: grid;
    /* grid-template-columns: repeat(2, minmax(500px, 1fr)); */
 
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    align-items: center;
    padding: 10px;
    gap: 30px;
}

.AddVideoAdmin-Main .uploadImg {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 20px 0;

}

.status-of-uploading h3 {
    color: green !important;
}

.AddVideoAdmin-Main .imgColAdmin img {
    width: auto;
    max-height: 300px;
    /* border-radius: 10px; */
}


.AddVideoAdmin-Main .colAddInfo {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    gap: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    padding: 20px 0;
}
/* part List Images */
.AddVideoAdmin-Main .col2-items {
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(2, minmax(500px, 1fr)); */
    grid-template-rows: repeat(auto-fill, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    align-items: center;
  
   
    /* background-color: #D9D9D9; */

    gap: 10px;
    align-items: center;

   padding: 10px;
}

.AddVideoAdmin-Main .List-items{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

 
/* .AddVideoAdmin-Main .list-categoryAdmin {
    cursor: pointer;
    height: 100%;
    max-width: 100%;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    color: black;

    padding: 20px 10px;
text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.AddVideoAdmin-Main .list-categoryAdmin h6{

    padding: 10px;
    border-radius: 10px;
}
.AddVideoAdmin-Main .list-categoryAdmin h6:hover{
    background-color: #f6f6f6;

} */
.AddVideoAdmin-Main .count-items{
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    max-width: 100%;
}   

    .status-of-uploading h4{
        color: black;
       
    }
    .status-of-uploading{
        padding-top: 20px;
    }

    .addVidPage .colAddInfo {
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    





    

@media (max-width:991px) {
    .AddVideoAdmin-Main .imgColAdmin {
    
        justify-items:center;
        max-width: 100%;
      
        display: grid;
        /* grid-template-columns: repeat(2, minmax(500px, 1fr)); */
     
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    
        align-items: center;

        gap: 30px;
    }
    
    .AddVideoAdmin-Main .uploadImg {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        color: black;
        background-color: white;
        border-radius: 10px;
        align-items: center;
        padding: 20px 0;
    
    }
    .AddVideoAdmin-Main .colAddInfo {
        display: flex;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        gap: 20px;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 300px;
        padding: 20px 0;
    }
}

@media (max-width:480px) {


}